.container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.card img{
    width: 100px;
    height: 100px;
}

.text span{
    color: orange;
}
